{% extends 'base.html.twig' %}

{% block title %}{{user.firstname }} {{user.lastname }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ user.firstname }} {{user.lastname }}</h1>
            <p>
            email: {{ user.email }} <br>
            date de naissance : {{ user.birthAt|date('d/m/Y') }} 
            </p>
            {% for post in user.posts %}
                 <div class="card">
                    <div class="card-body">
                        <small>{{ post.publishedAt |date('d/m/Y') }}</small>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
